#lunbo{
    height: 300px;
    width: 700px;
    border: 1px solid  red;
    display: inline-block;
    margin-left: 60px;
    vertical-align:top;
    margin-top: 60px;
    position: relative;
}
.list{
    width: 700px;
    height: 300px;
    list-style: none;
    position: relative;
}
.item{
    width: 100%;
    height: 100%;
    position: absolute;
}
.item:nth-child(1){
    background-image:url("../image/海大轮播图1.jpg");
    background-size:100% 100% ;

}
.item:nth-child(2){
    background-image:url("../image/海大轮播图2.jpg");
    background-size:100% 100% ;

}
.item:nth-child(3){
    background-image:url("../image/海大轮播图3.jpg");
    background-size:100% 100% ;

}
.item:nth-child(4){
    background-image:url("../image/海大轮播图4.jpg");
    background-size:100% 100% ;

}
.btn{
    width: 50px;
    height: 100px;
    position: absolute;
    top:100px;
    z-index: 100;
}
#gopre{
    left: 0;
}
#gonext{
    right: 0;
}
.item.active{
    z-index: 10;
}