*{
    margin: 0;
    padding: 0;
    border:0;
}
#new{
    width: 900px;
    height: 500px;
    margin: 25px auto;
    padding-top: 10px;
    background-color:white;

}
.newTitle{
    width: 900px;
    height: 40px;
    text-align: center;
    line-height: 70px;
    margin-top: 40px;
    color: cornflowerblue;
    border-bottom: 1px solid red;

}
.newContent{
    width: 900px;
    margin-top: 100px;
    line-height: 150px;
    text-align: center;

}