<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>毕业生班级信息网</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link href="https://cdn.bootcss.com/Swiper/4.5.0/css/swiper.min.css" rel="stylesheet">
</head>

<body>
    <div id="vue-app">
        <!--登陆页面开始-->
        <div id="denglu">
            <!--导航开始-->
            <div id="daohang">
                <span class="logo"></span>
                <span class="wenzi">毕业生班级信息网</span>
            </div>
            <!--导航结束-->
            <div id="body">
                <!--登陆窗口开始-->
                <div id="zhuche">
                    <div class="zhuchetiao">登录</div>
                    <form action="" method="">
                        <ul>
                            <li class="clearfix">
                                <span class="float-l">账号</span>
                                <input class="float-l" type="text" v-model="account" name="" placeholder="注册邮箱/手机号">
                            </li>
                            <li class="clearfix">
                                <span class="float-l">密码</span>
                                <input class="float-l" type="password" v-model="password" name="" placeholder="请输入密码">
                            </li>
                        </ul>
                        <input class="submit" type="button" name="" value="登录" @click="toHomePage()">
                        <input class="submit" type="button" name="" value="注册" @click="toLoginPage()">
                        <!--<a href="" class="f-password">忘记密码?</a>-->
                    </form>
                </div>
                <!--照片轮播开始-->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src='image/海大轮播图1.jpg' />
                        </div>
                        <div class="swiper-slide">
                            <img src='image/海大轮播图2.jpg' />
                        </div>
                        <div class="swiper-slide">
                            <img src='image/海大轮播图3.jpg' />
                        </div>
                        <div class="swiper-slide">
                            <img src='image/海大轮播图4.jpg' />
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>

                <!--照片轮播结束-->

                <!--公告开始-->
                <div id="gonggao">
                    <div>
                        欢迎你光临本网站！想要拥有更多特权请登录！
                    </div>
                </div>
                <!--公告结束-->

                <!--最新新闻开始-->
                <div id="xinwen">
                    <div class="XwContent">
                        <h2>最新新闻</h2>
                        <ul>
                            <li @click='goArticleDetail(item.id)' v-for='item in newList'>
                                <span>{{item.time}}</span>
                                {{item.name}}

                            </li>
                        </ul>
                        <!--<span>查看更多</span>-->
                    </div>
                </div>
                <!--最新新闻结束-->

            </div>


            <!--版权信息开始-->
            <div id="banquan">
                Copyright 2019 LiuQiYuan<br>
                All Rights Reserved
            </div>
            <!--版权信息结束-->
        </div>
        <!--登陆页面结束-->


        <script src="../js/bs.js"></script>
        <script src="https://cdn.bootcss.com/Swiper/4.5.0/js/swiper.min.js"></script>
        <script>
            var app = new Vue({
                el: '#vue-app',
                data: {
                    newList: [
                        {
                            name: '班级综合网站成立啦',
                            time: '2019-05-06',
                            id: '123124343'
                        },
                        {
                            name: '逃课一天的成本你计算过吗',
                            time: '2019-05-06',
                            id: '123124343'
                        },
                        {
                            name: '信息学院举行第四届研究生文化节',
                            time: '2019-05-06',
                            id: '123124343'
                        }, {
                            name: '管理学院承办西藏旅游经济发展研讨班',
                            time: '2019-05-06',
                            id: '123124343'
                        }, {
                            name: '“六卓越一拔尖”计划2.0启动大会召开',
                            time: '2019-05-06',
                            id: '123124343'
                        }, {
                            name: '【中国科学报】打开多彩大学生活的别样方式',
                            time: '2019-05-06',
                            id: '123124343'
                        }, {
                            name: '深化本科教育综合改革，提高本科人才培养质量',
                            time: '2019-05-06',
                            id: '123124343'
                        },

                    ],
                    account: '',
                    password: '',
                },
                methods: {
                    goArticleDetail(id) {
                        window.open('./page/detail.html' + '?id=' + id, '_self')
                    },

                    toHomePage() {
                        var isAlert = 0;
                        if (this.account === '' && isAlert == 0) {
                            alert('请输入账号');
                            isAlert = 1;
                        }
                        if (this.password === '' && isAlert == 0) {
                            alert('请输入密码');
                            isAlert = 1;
                        }
                        if (this.password != '' && this.account != '')
                            window.open('./page/home.html', '_self')
                    },
                    toLoginPage() {
                        window.open('./page/login.html', '_self')
                    }
                },
            })
            var mySwiper = new Swiper('.swiper-container', {
                direction: 'horizontal', // 垂直切换选项
                loop: true, // 循环模式选项
                autoplay: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                // 如果需要分页器
                pagination: {
                    el: '.swiper-pagination',
                },
            })        
        </script>
</body>

</html>