<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/photo.css">
    <link rel="stylesheet" href="../css/member.css">
    <link rel="stylesheet" href="../css/personal data.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="">
</head>

<body>
    <div id="HomePage">
        <div id="HP-head">
            <div class="HPH-title">
                15级电子信息科学与技术
            </div>
        </div>
        <div id="HP-body">
            <div class="HPB-navigation">
                <ul>
                    <li @click='changeIndex(0)'>
                        <span :style='{color:(index===0)?"red":"black" }'>班级主页</span></li>
                    <li @click='changeIndex(1)'>
                        <span :style='{color:(index===1)?"red":"black" }'>班级相册</span></li>
                    <li @click='changeIndex(2)'>
                        <span :style='{color:(index===2)?"red":"black" }'>班级成员</span></li>
                    <li @click='changeIndex(3)'>
                        <span :style='{color:(index===3)?"red":"black" }'>个人主页</span></li>
                    <li @click='changeIndex(4)'>
                        <span :style='{color:(index===4)?"red":"black" }'>文件共享</span></li>
                </ul>
            </div>
            <section v-if='index===0'>
                <div class="HPB-photo">
                    <div class="HPB-photo-L"><span>我们的相册</span></div>
                    <div class="HPB-photo-M">
                        <ul>
                            <li v-for='item in imgList' @click='changeIndex(1)'>
                                <img :src="item" alt="">
                            </li>
                        </ul>
                    </div>

                    <div class="HPB-photo-R"><span>我们的风采</span></div>
                </div>

                <div class="HPB-notice">
                    <div class="HPB-notice-L">
                        <div class="HPBn-T"><img src="../image/通知栏活动.jpg" alt=""></div>

                        <div class="HPBn-ML">班级活动</div>

                        <div class="HPBn-B">
                            <li><a href="#">本周六组织爬佘山，大家积极报起名来</a>
                                <p>本周六组织爬佘山，大家积极报起名来，锻炼身体义不容辞！请大家准时到达</p>
                            </li>
                            <li><a href="#">本周六组织爬佘山，大家积极报起名来</a>
                                <p>本周六组织爬佘山，大家积极报起名来，锻炼身体义不容辞！请大家准时到达</p>
                            </li>
                            <input class="HPBn-BL" type="button" name="" value="查看更多">
                        </div>
                    </div>

                    <div class="HPB-notice-R">
                        <div class="HPBn-T"><img src="../image/通知栏通知.jpg" alt=""></div>

                        <div class="HPBn-MR">班级通知</div>

                        <div class="HPBn-B">
                            <li><a href="#">国庆七天大假，放10月1号~7号</a>
                                <p>国庆七天大假，放10月1号~7号，小伙伴们请安排好时间，回家的同学车票都买好了？</p>
                            </li>
                            <li><a href="#">国庆七天大假，放10月1号~7号</a>
                                <p>国庆七天大假，放10月1号~7号，小伙伴们请安排好时间，回家的同学车票都买好了？</p>
                            </li>
                            <input class="HPBn-BR" type="button" name="" value="查看更多">
                        </div>
                    </div>
                </div>

                <div class="HP-foot">
                    Copyright 2019 LiuQiYuan<br>
                    All Rights Reserved
                </div>
            </section>
            <!-- 相册 -->
            <section v-if='index===1'>
                <div class="photo">
                    <div class="title">默认相册集</div>
                    <ul>
                        <li v-for='item in imgList'>
                            <img :src="item" alt="">
                        </li>
                    </ul>
                </div>

                <div class="photo" >
                    <div class="title">毕业照相册集</div>
                    <ul>
                        <li v-for='item in photoList'>
                            <img :src="item" alt="">
                        </li>
                    </ul>
                </div>

                <div class="photo" >
                    <div class="title">聚会相册集</div>
                    <ul>
                        <li v-for='item in photoList'>
                            <img :src="item" alt="">
                        </li>
                    </ul>
                </div>
                <div class="HP-foot">
                    Copyright 2019 LiuQiYuan<br>
                    All Rights Reserved
                </div>
            </section>
            <!--班级成员-->
            <section v-if='index===2'>
                <div id="member">
                    <div class="members" v-for='item in memberList'>
                        <li >
                            <img :src="item.image" alt="">
                        </li>
                        <span>{{item.name}}</span>
                    </div>
                </div>
                <div class="HP-foot">
                    Copyright 2019 LiuQiYuan<br>
                    All Rights Reserved
                </div>
            </section>
            <!--个人主页-->
            <section v-if='index===3'>
                <div id="personal" v-for='item in personalList'>
                    <div class="pTitle"><h1>基本信息</h1><h2>basic information</h2></div>
                    <div class="information">
                        <ul>
                            <li><span>联系电话：</span><span>{{item.tel}}</span></li>
                            <li><span>邮箱地址：</span><span>{{item.email}}</span></li>
                            <li><span>居住地址：</span><span>{{item.address}}</span></li>
                            <li><span>工作公司：</span><span>{{item.company}}</span></li>
                            <li><span>工作职位：</span><span>{{item.position}}</span></li>
                            <li><span>人生格言：</span><span>{{item.motto}}</span></li>
                        </ul>
                        <button @click='changeShow()'>更新信息</button>
                    </div>
                    <div class="headPortrait">
                        <div class="names">{{item.name}}</div>
                        <div class="images"><img :src="item.image" alt=""></div>
                    </div>
                    <div class="changeInformation" v-if="show">
                        <div class="information">
                            <ul>
                                <li><span>联系电话：</span>
                                    <span>
                                        <input v-model="item.tel"  placeholder="请填写电话号码">
                                    </span>
                                </li>
                                <li><span>邮箱地址：</span>
                                    <span>
                                        <input v-model="item.email"  placeholder="请填写邮箱地址">
                                    </span>
                                </li>
                                <li><span>居住地址：</span>
                                    <span>
                                        <input v-model="item.address"  placeholder="请填写居住地址">
                                    </span>
                                </li>
                                <li><span>工作公司：</span>
                                    <span>
                                        <input v-model="item.company"  placeholder="请填写工作公司">
                                    </span>
                                </li>
                                <li><span>工作职位：</span>
                                    <span>
                                        <input v-model="item.position"  placeholder="请填写工作职位">
                                    </span>
                                </li>
                                <li><span>人生格言：</span>
                                    <span>
                                        <input v-model="item.motto"  placeholder="请填写人生格言">
                                    </span>
                                </li>
                            </ul>
                            <button @click='changeShowing()'>保存信息</button>
                        </div>
                    </div>
                    <div class="pTitle"><h1>私人相册</h1><h2>private albums</h2></div>
                    <button class="btn" @click='changePShow()'>查看相册</button>
                    <button class="btn1" @click='changePShowing()' v-if="photoShow">收起相册</button>
                    <div class="photo" v-if="photoShow">
                        <ul>
                            <li v-for='item in imgList'>
                                <img :src="item" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="HP-foot">
                    Copyright 2019 LiuQiYuan<br>
                    All Rights Reserved
                </div>
            </section>
            <!--文件共享-->
            <section v-if='index===4'>文件共享</section>
        </div>

    </div>
    <script>
        var app = new Vue({
            el: '#HomePage',
            data: {
                photoShow:false,
                show:false,
                index: 0,
                imgList: [
                    '../image/相册图片1.jpg',
                    '../image/相册图片2.jpg',
                    '../image/相册图片3.jpg',
                    '../image/相册图片4.jpg',
                    '../image/相册图片5.jpg',
                    '../image/相册图片6.jpg',
                    '../image/相册图片7.jpg',
                    '../image/相册图片8.jpg',
                    '../image/相册图片9.jpg',
                    '../image/相册图片1.jpg',
                    '../image/相册图片2.jpg',
                    '../image/相册图片3.jpg',
                ],
                photoList: [
                    '../image/相册图片1.jpg',
                    '../image/相册图片2.jpg',
                    '../image/相册图片3.jpg',
                    '../image/相册图片4.jpg',
                    '../image/相册图片5.jpg',
                    '../image/相册图片6.jpg',
                    '../image/相册图片7.jpg',
                    '../image/相册图片8.jpg',
                    '../image/相册图片9.jpg',
                    '../image/相册图片1.jpg',
                    '../image/相册图片2.jpg',
                    '../image/相册图片3.jpg',
                    '../image/相册图片4.jpg',
                    '../image/相册图片5.jpg',
                    '../image/相册图片6.jpg',
                    '../image/相册图片7.jpg',
                    '../image/相册图片3.jpg',
                    '../image/相册图片4.jpg',
                    '../image/相册图片5.jpg',
                    '../image/相册图片6.jpg',
                    '../image/相册图片7.jpg',
                    '../image/相册图片8.jpg',
                    '../image/相册图片9.jpg',
                    '../image/相册图片1.jpg',
                    '../image/相册图片2.jpg',
                    '../image/相册图片3.jpg',
                    '../image/相册图片4.jpg',
                    '../image/相册图片5.jpg',

                ],
                memberList:[
                    {
                        name:'赵某某',
                        image:'../image/科比头像.jpg',
                    },
                    {
                        name:'钱某某',
                        image:'../image/成员头像1.jpg',
                    },
                    {
                        name:'孙某某',
                        image:'../image/成员头像2.jpg',
                    },
                    {
                        name:'李某某',
                        image:'../image/成员头像3.jpg',
                    },
                    {
                        name:'周某某',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'吴某某',
                        image:'../image/成员头像5.jpg',
                    },
                    {
                        name:'郑某某',
                        image:'../image/成员头像6.jpg',
                    },
                    {
                        name:'王某某',
                        image:'../image/成员头像7.jpg',
                    },
                    {
                        name:'冯某某',
                        image:'../image/成员头像8.jpg',
                    },
                    {
                        name:'陈某某',
                        image:'../image/成员头像9.jpg',
                    },
                    {
                        name:'储某某',
                        image:'../image/成员头像10.jpg',
                    },
                    {
                        name:'卫某某',
                        image:'../image/成员头像11.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },
                    {
                        name:'库里',
                        image:'../image/成员头像4.jpg',
                    },

                ],
                personalList:[
                    {
                        name:'刘某',
                        tel:'18798258285',
                        email:'liuqiyuan527@163.com',
                        address:'广东省珠海市前山金鸡西路',
                        company:'珠海格力电器股份有限公司',
                        position:'电控硬件工程师',
                        motto:'世间最容易的事是坚持，最难的事也是坚持',
                        image:'../image/成员头像4.jpg',
                    }
                ]
            },
            methods: {
                changeIndex(index) {
                    this.index = index;
                },
                changeShow(){
                    this.show=true;

                },
                changeShowing(){
                    this.show=false;

                },
                changePShow(){
                    this.photoShow=true;

                },
                changePShowing(){
                    this.photoShow=false;

                },
            },
        });
    </script>
</body>

</html>